*{
  transition: 0.5s;
}
body{
  background: #fff;
}
.header{
  font-size: 30px;
  -webkit-text-stroke: 1px #1e6262;
  color: #fff;
  padding: 10px;
}
.header>b{
  color: #1e6262;
  -webkit-text-stroke: 0px #1e6262;
}
.group{
  width: 100%;
  padding: 0px;
  margin: 0;
}

.state, .lga, .ward, .polling-unit {
  display: inline-block;
}
.state{
  display: block;
  justify-content: justify;
}
.state>button{
  background: #2d767f;
  color: white;
  border: 1px double #b4f1f1;
  border-radius: 5px;
}
.lga {
  display: inline-block;
  background: white;
  border: 1px solid rgb(241, 241, 241);
  width: 60%;
  box-shadow: 1px 1px 10px lightgray;
}
.lga::before{
  content: 'Select an LGA';
}
.ward::before{
  content: 'Select a Ward';
}
.polling-unit::before{
  content: 'Select a Polling Unit';
}
.lga::before, .ward::before, .polling-unit::before{
  display: block;
  color: #1e6262;
  font-size: large;
  text-align: center;
  font: outline;
  padding: 20px;
}

.lga>button, .ward>button, .polling-unit>button{
  margin: 10px;
  background: lightgrey;
  padding: 5px 10px;  
  border-radius: 10px;
  font-size: small;
}
.lwp{
  margin-top: 80px;
  width: 25%;
  padding: 20px;
}
.wp {
  float: right;
  width: 30%;
}
.ward{
  display: inline-block;
  background: white;
  border: 1px solid lightgray;
  width: 180%;
  margin: 30px 0px;
  border-radius: 10px;
  /* float: right; */
  box-shadow: 1px 1px 10px lightgray;
}
.polling-unit {
  display: inline-block;
  background: white;
  border: 1px solid lightgray;
  width: 180%;
  border-radius: 10px;
  /* float: right; */
  box-shadow: 1px 1px 10px lightgray;
}
.button {
  color: #1e6262;
  background: transparent;
  padding: 10px 30px;
  border: 1px solid lightgrey;
}

.display{
  position: absolute;
  top: 250px;
  left: 36%;
  background: #fff;
  min-height: 300px;
  width: 60%;
  border: 5px dotted lightgray;
  box-shadow: 1px 1px 10px lightgray;
}
.result{
  display: inline-block;
  /* width: 100px; */
  background: rgba(231, 231, 231, 0.541);
  /* height: 80px; */
  padding: 30px 40px;
  margin: 10px;
  border: 1px solid lightgray;
  color: #1e6262;
  text-align: center;
  border-radius: 05px;
}
.result:hover{
  opacity: 0.7;
}
.result>div:first-child{
  color: #ff5959;
  font-size: 20px;
  font-weight: bold;
}
.result>div:nth-child(3){
  color: grey;
  font-size: 12px;
  font-weight: lighter;
}
.form-container{

}
.store{
  float: right;
  position: fixed;
  top: 0px;
  left: 75%;
  margin: 10px;
  border: 1px solid #1e6262;
  color: #1e6262; 
  background: #fff;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 1px 1px 10px lightgray inset;
}
.form{
  position: absolute;
  top: 0px;
  left: -50px;
  background: white;
  width: 500px;
  border: 1px solid lightgray;
  border-radius: 10px;
  padding: 30px 20px;
  box-shadow: 10px 10px 100px 1000px rgba(0, 0, 0, 0.082);
  /* float: right; */
}

.form input{
  width: 80%;
  display: block;
  height: 40px;
  background: rgba(211, 211, 211, 0.24);
  border-radius: 3px;
  border: 1px solid lightgrey;
  margin: 10px auto;
  padding: 5px 15px;
}
.form button{
  background: #49beb7;
  padding: 15px 40px;
  border: 1px solid transparent;
  margin: 35px;
  color: white;
}
.puid{
  color: #1e6262;
  padding: 20px 40px;
}
.message{
  position: fixed;
  bottom: 0px;
  right: 0px;
  padding: 20px 200px;
  border-left: 5px solid #49beb7;
  margin-bottom: 30px;
  background: white;
  color: grey;
}